<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>About</h2>
            <hr class="star-light">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p class="text-justify">A resourceful, innovative, and competent developer with extensive experience in coding of websites specifically in PHP. Possessing considerable knowledge of the development of web applications and scripts using PHP programming language, Codeigniter framework and MySQL database. Experienced in developing applications and solutions for a wide range of corporate, charity and public sector clients and having the enthusiasm and ambition to complete projects to the highest standard.</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <ul class="list-inline">
                <li>
                    <a href="https://web.facebook.com/kim.fashion.2013" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://plus.google.com/110299753552885851546" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/unzhurna_" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://id.linkedin.com/in/unzhurna" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://github.com/unzhurna" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-github"></i></a>
                </li>
            </ul>
        </div>
        <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="#" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Download Resume
            </a>
        </div> -->
    </div>
</div>
